<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            list-style: none;
        }
        div{
            width:1000px ;
            height: 120px;
            
        }
        ul{
            width: 1000px;
            height: 30px;
            border: 1px solid green;
        }
        li{
            float: left;
            width: 250px;
            height: 30px;
            
        }
    </style>
</head>
<body>
    <div id="a">
        <form action="">
            <ul>
                <!-- <li :key="index" v-for="(item,index) in data"> -->
                    <!-- {{item.username}} -->
                </li>
                <li>id</li>
                <li>username</li>
                <li>prise</li>
                <li>password</li>
            </ul>
            <ul :key="index" v-for="(item,index) in data">
                <li>{{item._id}}</li>
                <li>{{item.username}}</li>
                <li>{{item.price}}</li>
                <li>{{item.password}}</li>
            </ul>
        </form>
        <button @click='aaa'>显示</button>
    </div>
    <script src="./vue.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
    <script>
        var a=new Vue({
            el:'#a',
            data:{
               id:"",
               username:'',
               price:"",
               password:'',
                data:[]
            },
            methods: {
                aaa(){
                    axios({
                url: 'http://localhost:5001/vuestudy',
                method: 'post',
                params: {
                    // username: 'zs',


                }
            }).then(response => {
                console.log(response)
                console.log(response.data[0].username)
                // this.username = response.data[0].username;
                this.data = response.data
                this.a=response.data


            }).catch(error => {
                console.log(error)
            })
                }
            },
            beforeCreate() {
            console.log('我进入了生命周期函数beforeCreate里面')
            console.log(this.data)


        },
        // 这是生命周期函数 created
        //创建之后  data methods 已经部署完成 
        created() {
            // axios    111111
            // axios({
            //     url: 'http://localhost:5001/vuestudy',
            //     method: 'post',
            //     params: {
            //         // username: 'zs',


            //     }
            // }).then(response => {
            //     console.log(response)
            //     console.log(response.data[0].username)
            //     // this.username = response.data[0].username;
            //     this.data = response.data


            // }).catch(error => {
            //     console.log(error)
            // })
            console.log('我进入了生命周期created')
            console.log(this.fruits)
            this.d()
        },
        //虽然created数据已经架构完成 但是没经过算法和dom元素的比对和插入
        //中间  有算法 要dom比对和插入   数据渲染之前   基本已经准备好了 就等最后给 页面了
        // 这一步 是不是可以做 再最后检查下数据是不是对  不对 马上变
        beforeMount() {
                 //这是axios的get请求
           

            console.log('我进入beforeMount了')
            console.log(this.fruits)
            this.d()
            if (this.msg = 'aaa') {
                this.msg = '这才是正确的数据'
            }

        },
        // 数据  data methods 都拿到了  数据也到了 dom元素 页面上了  
        mounted() {
            console.log('进入mounted里面了')
            //这是axios的get请求
            // axios({
            //     url: 'http://localhost:5001/vuestudy',
            //     method: 'get',
            //     params: {
            //         username: 'zs',


            //     }
            // }).then(response => {
            //     console.log(response)
            //     console.log(response.data[0].username)
            //     this.username = response.data[0].username


            // }).catch(error => {
            //     console.log(error)
            // })






            // 学习axios 的post 请求
            // axios({
            //     url: 'http://localhost:5001/vuestudy',
            //     method: 'post',
            //     data: {
            //         username: 'zs',
            //         password: '123456'
            //     }
            // }).then(response => {
            //     console.log(response)
            // }).catch(error => {
            //     console.log(error)
            // })





        },
        //数据更新前
        beforeUpdate() {
            console.log('我进入beforeUpdate')
        },
        //数据更新后
        updated() {
            console.log('我进入updated')
        },
        //页面销毁之前
        beforeDestroy() {
            console.log('页面销毁之前')
        },
        //页面销毁之后
        destroyed() {


            console.log('页面销毁之后')
        }

    })


    console.log(a)

    </script>
</body>
</html>